.card {
    //background-image: linear-gradient(rgba($color-black,.8),rgba($color-black,.8));
    //background-image: linear-gradient(rgba($color-black, .8),rgba($color-black, .8)),url('../../images/montreal.jfif');
    
    height: 100%;
    width: 30rem;
    display: flex;
    box-shadow: 0 0 .25rem rgba($color-gold, 0.5);

    &__Vancouver {
        background-image: linear-gradient(rgba($color-black, .75),rgba($color-black, .75)),url('../../images/vancouver.jpg');
        background-size: cover;
    }

    &__Montréal {
        background-image: linear-gradient(rgba($color-black, .75),rgba($color-black, .75)),url('../../images/montreal.jfif');
        background-size: cover;
    }

    &__Toronto {
        background-image: linear-gradient(rgba($color-black, .75),rgba($color-black, .75)),url('../../images/toronto.jpg');
        background-size: cover;
    }

    &__header {
        //margin-top: 1.5rem;
        font-size: 3rem;
        font-weight: 600;
        color: $color-white;
        cursor: pointer;
        margin-bottom: 2.75rem;
        margin-top: 2.25rem;
        transition: .2s all;

        &:hover {
            color: $color-gold;
            transform: scale(1.1);
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        //margin: 0rem;
    }

    &__text {
        font-size: 1.5rem;
        font-weight: 400;
        margin: 2rem;
        margin-top: 0;
    }
}