.footer {
    height: 50rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(rgba($color-gold-dark, 1), rgba($color-gold,1), rgba($color-gold,.53));

    @media only screen and (max-width:68.75em) {
        flex-direction: column;
        height: 55rem;
    }

    @media only screen and (max-width:45em) {
        height: 95rem;
    }

    @media only screen and (max-width:19.375em) {
        height: 20rem;
    }

    &__container {
        width: 105rem;
        height: 35rem;
        display: flex;

        &>*:not(:last-child) {
            margin-right: 10rem;
        }

        @media only screen and (max-width:68.75em) {
            flex-direction: column;
            width: 92.5vw;
            height: 45rem;
        }

        @media only screen and (max-width:45em) {
            height: 83.1rem;
        }

        @media only screen and (max-width:19.375em) {
            height: 10rem;
        }

    }

    &__left, &__mid {
        display: flex;
        flex-direction: column;
        height: 100%;
        flex: 1;
        //justify-content: center;

        
    }

    &__links {
        height: 100%;
        display: flex;
        flex: 1;
        &>*:not(:last-child) {
            margin-right: 10rem;
        }

        @media only screen and (max-width:68.75em) {
            &:nth-child(1) {
                margin-right: 0;
            }
        }

        @media only screen and (max-width:45em) {
            flex-direction: column;
            width: 100%;

            &>*:not(:last-child) {
                margin-right: 0;
            }
        }

        @media only screen and (max-width:19.375em) {
            display: none;
        }
    }

    &__item {
        &,&:link,&:visited {
            color: $color-black;
            text-decoration: none;
            font-size: 2.25rem;
            font-weight: 400;
            background-color: black;
            margin-bottom: .5rem;
            padding: 1rem;
            color: $color-white;
        }

        transition: all .2s;

        &:hover {
            font-size: 2.5rem;
            color: $color-gold;
        }
    }

    &__right {
        //background-color: red;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
    }

    &__logo {
        //background-color: green;
        width: 25rem;
        height: 10rem;
        margin-bottom: 1.75rem;

        @media only screen and (max-width:68.75em) {
            align-self: center;
        }
    }
}