.header {

    width: 100%;
    height: 10rem;
    //background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    

    &__container {
        //background-color: green;
        width: 110rem;
        height: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__left {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }

    &__links {
        & > *:not(:last-child) {
            margin-right: 2rem;
        }

        @media only screen and (max-width:50em) {
            display: none;
        }
    }



    &__logo {
        width: 16rem;
        height: 6rem;
        margin-bottom: .9rem;
        margin-right: 4rem;
        cursor: pointer;

        &:active {
            opacity: .5;
        }

        @media only screen and (max-width:26.875em) {
            width: 12rem;
            height: 4.5rem;
        }

        @media only screen and (max-width:18.75em) {
            width: 8rem;
            height: 3rem;
        }
    }

    &__link {
        &, &:visited, &:link {
            text-decoration: none;
            text-transform: uppercase;
            font-size: 1.3rem;
            font-weight: 700;
            color: $color-grey-dark-2;
        }

        display: inline-block;
        transition: .2s all;

        &:hover {
            color: $color-gold;
            transform: scale(1.1);
        }
    }

    
    &__left {
        display: flex;

        @media only screen and (max-width:50em) {
            justify-self: flex-end;
        }
    }
    
    &__right {
        display: flex;
        align-items: center;

        position: relative;
    }

    &__enquire {
        font-weight: 800;
    }

    &__firstIconGroup {
        margin-right: 1rem;
    }

    &__secondIconGroup {
        @media only screen and (max-width:70.5em) {
            margin-right: 1rem;
        }
    }
    
    &__iconGroup {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 1.3rem;
        color: $color-grey-dark-1;
        height: 100%;
        text-decoration: none;
        text-transform: uppercase;

        @media only screen and (max-width:50em) {
            display: none;
        }
    }

    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 1rem;
    }

    &__iconText {
        cursor: pointer;
        transition: .2s all;

        &:hover {
            color: $color-gold;
            transform: scale(1.1);
        }
    }
}