.property {

    width: 100%;
    height: 47.5rem;
    background-image: linear-gradient(rgba($color-white, .7), rgba($color-white, .7));
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .5rem;
    overflow: hidden;

    transition: all 0.2s ease-in;


    &:hover {
        transform: scale(1.02);
        box-shadow: 0 0 1.5rem rgba($color-gold-dark, 0.3);

    }

    &__container {
        padding: 2rem;
        flex: 1;
        position: relative;
    }

    &__img {
        width: 100%;
        height: 50%;
        object-fit: cover;
    }

    &__icon {
        width: 3rem;
        height: 3rem;
        margin-right: .75rem;
        fill: $color-gold-dark;
    }

    &__title {
        font-size: 2rem;
        font-weight: 700;
    }

    &__location {
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        font-weight: 600;
        color: $color-grey-dark-2;
        margin-bottom: .5rem;
    }

    &__caption {
        font-weight: 400;
        font-size: 1.2rem;
    }

    &__button {
        cursor: pointer;
        text-transform: uppercase;
        position: absolute;
        bottom: 1rem;
        right: 1rem;

        font-size: 2.25rem;
        border: none;
        font-weight: 600;
        color: $color-white;
        background-color: $color-black;

        padding: .75rem;
        text-decoration: none;

        transition: all .2s;

        &:hover {
            transform: scale(1.1);
            color: $color-gold;
        }
    }
}